* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}


@font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-book-webfont.woff2') format('woff2');
    font-weight:normal;
  }

  @font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-book-italic-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style:italic
  }

  @font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-bold-webfont.woff2') format('woff2');
    font-weight:bold;
  }

  @font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-bold-italic-webfont.woff2') format('woff2');
    font-weight:bold;
    font-style:italic
  }


  a:link,
  a:visited {
    color:black;
  }

  a:hover {
    text-decoration:none;
  }

  body {
    font-family:'Standard', Arial, Helvetica, sans-serif;
    background:rgb(244, 46, 46);
    font-family: "input-mono", monospace;
font-weight: 500;
font-style: normal;
font-size:24px;
  }


  h1, h2 { 
    font-family:'Standard', Arial, Helvetica, sans-serif;
    font-size:3rem;
    
  }

  h2 { font-weight:normal }

  .top-left {
    position:fixed;
    top:0.25em;
    left:0.25em;
  }

  .bottom-right {
    position:fixed;
    bottom:0.25em;
    right:0.25em;
  }


  .top-right {
    position:fixed;
    top:0.25em;
    right:0.25em;
  }

  .bottom-left {
    position:fixed;
    bottom:0.25em;
    left:0.25em;
  }

  #main {
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    max-width:1000px;
    transform:translate(-50%,-50%)

  }

  ol {
    list-style-type: none;
  }

  li {
    transition:text-indent 0.2s;
  }
  li:hover {
    text-indent: 2em;;
  }


  @media (max-width:900px) {

    body {
        font-size:16px;
    }

.top-left, .bottom-right, .top-right, .bottom-left {
    position:static;
    display:inline;
}

h1, h2 {
    padding:0.5rem;
}

#main {
    padding:0.5rem;
    position:static;
    transform:translate(0,0);
}

  }